<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="container">
		<header><%- include('../partials/header'); %></header>

		<main>
			<div class="container">
				<h1>About the Company</h1>
				<h5>NOTE: No db requests. Just views.</h5>
				<p>
				<img src="https://www.liveabout.com/thmb/3qBKfdDcu0v2B-GcKrDN117dy6U=/768x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/CubanCigar-58cb05b35f9b581d72a76de1.jpg" />
			</p>
				
				<p>
					Little House Cigars & Pipes is a locally owned and operated company operating in the beautiful state of West Virginia. We have a physical store front property in downtown Lewisburg, WV (America's Coolest Small Town) that provides a wide selection of products. We also have a smoke room where you can try out our sample cigars. 
				</p>

				<p>
					We take dropshipping and put it on steroids as we import our cigars straight from Cuba via smugglers. I'll see your domestic and raise you a peso as these are the best of the best. They are highly trained at retaining the quality of the product and do not damage it in any way when bringing it back to the states. 
				</p>

				<p>
					Come and visit us today!
				</p>

				<p>
					We are also ready to go all willy nilly on the Internet as your purchase on our ecommerce site will start a process that feels like your in the middle of a heist mission on GTA V. Happy Shopping!
				</p>

				
			</div>
		</main>

		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>
